<conteudo-interno>
    <h1>Pesquisar Gênero</h1>
    <button class="btn btn-primary" type="submit" form="frm" ng-click="pesquisar()">Pesquisar</button>
    <button class="btn btn-default" type="reset" form="frm" ng-click="limpar()">Limpar</button>
    <a href="#/genero-novo" class="btn btn-default">Novo...</a>
    <hr />

    <form id="frm">
        <div class="form-group">
            <label for="pesq">Nome do gênero</label>
            <input type="text" class="form-control" ng-model="objeto.genero" id="pesq" placeholder="Ex. Aventura">
        </div>
    </form>
</conteudo-interno>

<conteudo-interno ng-if="resultados.length > 0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Gênero</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="g in resultados | orderBy:'genero'">
                <td>{{g.id}}</td>
                <td>{{g.genero}}</td>
                <td class="pull-right">
                    <a ng-href="#/genero-editar/{{g.id}}" class="btn btn-default">Alterar</a>
                    <button class="btn btn-warning" ng-click="excluir(g)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</conteudo-interno>
