<conteudo-interno>
    <h1>Autenticação</h1>
    <button class="btn btn-primary" type="submit" form="frm">Autenticar</button>
    <a href="#/logoff" class="btn btn-default">Logoff</a>
    <hr />

    <form id="frm">
        <div class="form-group">
            <label for="username">Nome do usuário</label>
            <input type="text" class="form-control" id="username" placeholder="Ex. john.doe">
            <label for="password">Senha de acesso</label>
            <input type="password" class="form-control" id="password">
        </div>
    </form>
</conteudo-interno>
