<conteudo-interno>
    <h1>Novo Gênero</h1>
    <button class="btn btn-primary" type="submit" form="frm" ng-click="salvar()">Salvar</button>
    <button class="btn btn-default" type="reset" form="frm">Limpar</button>
    <a href="#/genero-pesquisar" class="btn btn-default">Pesquisar</a>
    <hr />

    <form id="frm">
        <div class="form-group">
            <label for="genero">Nome do gênero</label>
            <input id="genero" type="text" required="true" class="form-control" ng-model="objeto.genero" placeholder="Ex. Aventura">
        </div>
    </form>
</conteudo-interno>
