<conteudo-interno>
    <h1>Pesquisar Seriado</h1>
    <button class="btn btn-primary">Pesquisar</button>
    <button class="btn btn-default">Limpar</button>
    <hr />

    <form>
        <div class="form-group">
            <label for="pesq">Nome do seriado</label>
            <input type="text" class="form-control" id="pesq" placeholder="Ex. Game of Thrones">
        </div>
    </form>
</conteudo-interno>

<conteudo-interno>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Month</th>
                <th>Savings</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sum</td>
                <td>$180</td>
            </tr>
            <tr>
                <td>January</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>February</td>
                <td>$80</td>
            </tr>
        </tbody>
    </table>
</conteudo-interno>
